

#page-grid {
  display: grid;
  width: 100vw;
  max-width: 1400px;
  grid-template-columns: repeat(9, 1fr);



}

/* XL */
@media screen and (max-width: 1200px) {
  #page-grid {
    
    grid-template-columns: repeat(7, 1fr);
  }
}

/* L */
@media screen and (max-width: 992px) {
  #page-grid {
    grid-template-columns: repeat(7, 1fr);
  }

}

/* M */
@media screen and (max-width: 768px) {
  #page-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* S */
@media screen and (max-width: 576px) {
  #page-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* XS */
@media screen and (max-width: 480px) {
  #page-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
